@tailwind base;
html,
body {
  @apply min-h-full h-0 p-0 m-0;
}
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  .rose-pine {
    --background: 249 22% 12%;
    --foreground: 245 50% 91%;
    --muted: 249 12% 16%;
    --muted-foreground: 249 12% 66%;
    --popover: 249 22% 9%;
    --popover-foreground: 0 0% 100%;
    --card: 249 22% 10%;
    --card-foreground: 245 50% 96%;
    --border: 249 12% 17%;
    --input: 249 12% 20%;
    --primary: 245 50% 91%;
    --primary-foreground: 245 50% 31%;
    --secondary: 245 30% 25%;
    --secondary-foreground: 245 30% 85%;
    --accent: 249 22% 27%;
    --accent-foreground: 249 22% 87%;
    --destructive: 1 80% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 245 50% 91%;
  }

  .shadesofpurple {
    --background: 243 33% 14%;
    --foreground: 0 0% 100%;
    --muted: 243 12% 18%;
    --muted-foreground: 243 12% 68%;
    --popover: 243 33% 11%;
    --popover-foreground: 0 0% 100%;
    --card: 243 33% 12%;
    --card-foreground: 0 0% 100%;
    --border: 243 23% 19%;
    --input: 243 23% 22%;
    --primary: 50 100% 49%;
    --primary-foreground: 50 100% 9%;
    --secondary: 50 30% 25%;
    --secondary-foreground: 50 30% 85%;
    --accent: 243 33% 29%;
    --accent-foreground: 242 33% 89%;
    --destructive: 2 92% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 50 100% 49%;
  }
  .deepblue {
    --background: 207 95% 8%;
    --foreground: 201 83% 81%;
    --muted: 207 12% 15%;
    --muted-foreground: 207 12% 65%;
    --popover: 207 95% 5%;
    --popover-foreground: 201 83% 91%;
    --card: 207 95% 6%;
    --card-foreground: 201 83% 86%;
    --border: 207 85% 13%;
    --input: 207 85% 16%;
    --primary: 205 85% 78%;
    --primary-foreground: 205 85% 18%;
    --secondary: 205 30% 25%;
    --secondary-foreground: 205 30% 85%;
    --accent: 207 95% 23%;
    --accent-foreground: 207 95% 83%;
    --destructive: 8 91% 59%;
    --destructive-foreground: 0 0% 100%;
    --ring: 205 85% 78%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*
  Adjust prose max width globally
*/

.prose {
  @apply max-w-3xl;
}

/*
  Properly center cmdk
*/

body > [role='dialog'] {
  transform: translate(-50%, -50%);
}

/*
  Black card styling
.rccs__card--unknown > .rccs__card--front {
  @apply [background:black] border-2 border-primary/40;
}
*/

.rccs__card__background {
  @apply [filter:hue-rotate(160deg)];
}

.rccs__card--front > .rccs__number {
  @apply opacity-85;
}

.rccs__issuer {
  @apply hidden;
}

/*
  Desaturate card chip
*/

.rccs__chip {
  @apply saturate-0;
}

.react-autocomplete-input {
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  bottom: auto;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  display: block;
  font-size: 14px;
  list-style: none;
  padding: 1px;
  position: fixed;
  text-align: left;
  z-index: 20000;
  overflow-y: scroll;
  margin-top: 3em;
  max-height: 16rem;
  overflow-y: scroll;
}

.react-autocomplete-input > li {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  cursor: pointer;
  padding: 10px;
  min-width: 100px;
}

.react-autocomplete-input > li.active {
  background-color: hsl(var(--secondary));
}
